Preparation d'un dossier CNIL

Personne concernee : {{ person.full_name }}
Broker : {{ broker.name }}
URL : {{ exposure.url }}
Derniere action : {{ exposure.last_contact_at or "inconnue" }}
Delai ecoule : {{ days }} jours

Elements a rassembler :
- demande initiale
- relances deja envoyees
- preuves et captures utiles
