Bonjour,

Je reviens vers vous au sujet de ma demande RGPD concernant la fiche suivante :
{{ exposure.url }}

Cette demande est restée sans réponse depuis {{ days }} jours.
Je vous remercie de confirmer la prise en charge de cette demande.

Cordialement,
{{ person.full_name }}
